<% provide :title, "About" %>

<div class="center">
  <h1>About</h1>
  <p>
    The Crowdeo is an event network for all casual people to meet their needs in networking.
    It's been developed as a part of Research oriented workshop by Kristián Balaj at FIIT.
  </p>
</div>
