<% provide :title, "Home" %>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1>Welcome to Crowdeo</h1>
    <p>This is an event network for everyone. Find, attend or create events for people you want.</p>
    <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
  </div>
</div>
