<% if @pagination.pages_count != 0 %>

  <nav>
    <ul class="pagination">
      <% if @pagination.is_first_page? %>
        <li class="page-item disabled">
          <a class="page-link" aria-disabled="true">Previous</a>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to "Previous", @pagination.get_previous_page_path, class: 'page-link' %>
        </li>
      <% end %>

      <% page_ranges = @pagination.calculate_page_ranges_arr %>
      <% page_ranges.each_with_index do |page_group_range, group_id| %>
        <% for i in page_group_range do %>

          <% if i == @pagination.current_page %>
            <li class="page-item active">
          <% else %>
            <li class="page-item">
          <% end %>

          <%= link_to "#{i}", @pagination.get_page_path(i), class: 'page-link' %>
          </li>
        <% end %>

        <% if group_id < page_ranges.length - 1  %>
          <li class="page-item"><a class="page-link">...</a></li>
        <% end %>

      <% end %>

      <% if @pagination.is_last_page? %>
        <li class="page-item disabled">
          <a class="page-link" aria-disabled="true">Next</a>
        </li>
      <% else %>
        <li class="page-item">
          <%= link_to "Next", @pagination.get_next_page_path, class: 'page-link' %>
        </li>
      <% end %>
    </ul>
  </nav>

<% end %>