/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
$palette_orange: #f77754;
$palette_light_blue: #018790;
$palette_dark_blue: #0A5160;
$palette_black: #2B2726;

$primary: $palette_orange;

@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

#mapid { height: 300px; }

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.2;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

//input, textarea, select, .uneditable-input {
//  border: 1px solid #bbb;
//  width: 100%;
//  margin-bottom: 15px;
//  @include box_sizing;
//}
//
//input {
//  height: auto !important;
//  &[type="checkbox"] {
//    width: auto;
//    margin-bottom: 20px;
//    margin-top: 5px;
//    margin-left: 10px;
//  }
//}

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

//.field_with_errors {
//  @extend .has-error;
//  .form-control {
//    color: $state-danger-text;
//  }
//}