<footer class="footer">
  <small>
    Crowdeo by Kristián Balaj
  </small>
  <nav>
    <ul>
      <li> <%= link_to 'Github', $GITHUB, target: '_blank' %></li>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>